<header class="header p-8 bg-gray-1 vh-100  d-flex flex-column">
  <a class="d-inline-block mb-8" href="#">
    <img
      src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/week5/logo-ANSWER.svg"
      alt="logo" class="logo ps-6 mb-2" />
  </a>
  <nav class="nav flex-fill">
    <a class="nav__link" href="#">
      <span class="material-symbols-outlined">
        analytics
      </span>
      Dashboard
    </a>
    <a class="nav__link" href="#">
      <span class="material-symbols-outlined">
        question_answer
      </span>Question
    </a>
    <a class="nav__link active" href="#">
      <span class="material-symbols-outlined">
        assignment
      </span>Assignment
    </a>
    <a class="nav__link" href="#">
      <span class="material-symbols-outlined">
        video_library
      </span>Course
    </a>
    <a class="nav__link" href="#">
      <span class="material-symbols-outlined">
        supervisor_account
      </span>Admin
    </a>
    <a class="nav__link" href="#">
      <span class="material-symbols-outlined">
        settings
      </span>Settings
    </a>
    <div class="user">
      <div class="user__img">
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true"
          alt="user" />
      </div>
      <div>
        <p class="user__title">Andy Chen</p>
        <p class="user__mail">andy0401@mail.com</p>
      </div>
    </div>
  </nav>
</header>